// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channels-wrapper {
  border-top: 1px solid #202225;
  border-bottom: 1px solid #202225;
  padding: 8px;
}

.channels-drop-container {
  width: 220px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  vertical-align: middle;
  color: #96989d;
  background-color: transparent;
}

.channels-drop-container:hover {
  color: #fff;
  cursor: pointer;
}

.channels-drop {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--font-display);
}

.channels-create-button {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-display);
  color: #96989d;
  background-color: transparent;
}

.channels-create-button:hover {
  color: #fff;
}

.channels-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 0 1px 0;
  height: 32px;
  border-radius: 3px;
}

.channels-list:hover {
  background-color: #42464d;
  cursor: pointer;
}

.channels-list > img:first-of-type {
  width: 20px;
  height: 20px;
  filter: invert(62%) sepia(4%) saturate(342%) hue-rotate(185deg) brightness(98%) contrast(86%);
}

.channels-list > img {
  width: 12px;
  height: 12px;
  filter: invert(62%) sepia(4%) saturate(342%) hue-rotate(185deg) brightness(98%) contrast(86%);
  margin-right: 3px;
}

.channels-list > img:hover {
  filter: invert(97%) sepia(26%) saturate(46%) hue-rotate(294deg) brightness(119%) contrast(100%);
}

.channels-list > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #96989d;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-display);
  padding-left: 10px;
}

.channels-list > a:hover {
  text-decoration: none;
  color: #fff;
}

// Create Channels Modal
.create-channel-modal {
  opacity: 0.85;
  display: block;
  flex-direction: column;
  backface-visibility: hidden;
  width: 460px;
  height: 400px;
  color: #fff;
  background-color: #36393f;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.create-channel-header-container {
  padding: 16px;
  height: 48px;
}

.create-channel-header-container > h1 {
  display: block;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-display);
  line-height: 24px;
}

.create-channel-header-container > h3 {
  align-items: center;
  color: #b9bbbe;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font-primary);
  line-height: 16px;
}

.create-channel-button-container {
  padding: 0 16px;
  height: 320px;
}

.create-channel-text-container:hover {
  color: #fff;
  background-color: #42464d;
  cursor: pointer;
}

.create-channel-voice-container:hover {
  color: #fff;
  background-color: #42464d;
  cursor: pointer;
}

.create-channel-button-container > div {
  display: flex;
  align-items: center;
  background-color: #202225;
  border-radius: 3px;
  padding: 10px 12px;
  margin-bottom: 8px;
  height: 42px;
}

.create-channel-button-container > div > div {
  margin-left: 10px;
}

.create-channel-button-container > div > img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(3%) saturate(1247%) hue-rotate(175deg) brightness(91%) contrast(91%);
}

.create-channel-button-container > div > div > h1 {
  color: #dcddde;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.create-channel-button-container > div > div > h3 {
  color: #b9bbbe;
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 4px;
}

.create-channel-form-container > h3 {
  color: #dcddde;
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.create-channel-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #202225;
  border-radius: 3px;
  padding: 10px 12px;
}

.create-channel-input-wrapper > img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(3%) saturate(1247%) hue-rotate(175deg) brightness(91%) contrast(91%);
}

.create-channel-input {
  padding: 0 10px;
  border-radius: 3px;
  background-color: #202225;
  color: #dcddde;
  display: block;
  height: 24px;
  width: 390px;
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
}

.create-channel-footer {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
}

.create-channel-exit {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  padding: 2px 16px;
}

.create-channel-create {
  background-color: hsl(235, 85.6%, 64.7%);
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  padding: 2px 16px;
  transition: background-color .17s ease, color .17s ease;
  transition-property: background-color, color;
}

.create-channel-create:hover {
  background-color: hsl(235, 51.4%, 52.4%);
}