.session-login-form {
  color: #72767d;
  background-color: #36393f;
  padding: 32px;
  font-size: 18px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
}