.overview-wrapper {
  background-color: #36393f;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
}

.overview-container {
  z-index: 1;
}

.home-wrapper {
  z-index: 2;
}

.channels-wrapper {
  overflow-y: none;
  height: calc(100vh - 175px);
}