.overview-wrapper {
  background-color: #36393f;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
}

.servers-container {
  background-color: #202225;
  color: #f6f6f6;
}