// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

:root {
  --font-primary: "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-display: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-headline: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-monospace: "Menlo", "Consolas", "Monaco", monospace;
  --font-glitch: "ArchivoBlack", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-cursive: "Reenie Beanie", "Comic Sans MS", cursive, sans-serif;
}