.sidebar-wrapper {
  width: 225px;
  background-color: #2f3136;
}

.sidebar-wrapper > h1 {
  color: #fff;
  display: block;
  box-sizing: border-box;;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-display);
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  z-index: 1;
  padding: 12px 16px;
  transition: background-color .1s linear;
  transition-property: background-color;
}

.sidebar-wrapper > h1:hover {
  background-color: rgba(79, 84, 92, 0.4)
}