.sidebar-wrapper {
  background-color: #2f3136;
}

.sidebar-wrapper > h1 {
  color: #fff;
  display: block;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--font-display);
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
  z-index: 1;
  padding: 12px 16px;
  transition: background-color .1s linear;
  transition-property: background-color;
}

.sidebar-wrapper > h1:hover {
  background-color: rgba(79, 84, 92, 0.4)
}

.searchbar-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 11px;
  border-bottom: 1px solid #202225;
}

.searchbar-container > h1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #202225;
  box-shadow: none;
  color: #a3a6aa;
  text-align: left;
  text-overflow: ellipsis;
  font-family: var(--font-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
  padding: 1px 6px;
  width: 240px;
}

.friends-container {
  display: flex;
  align-items: center;
  background-color: rgba(79, 84, 92, 0.6);
  width: 208px;
  height: 42px;
  margin: 8px;
  border-radius: 4px;
  height: 42px;
  padding: 0 8px;
}

.friends-container > img {
  width: 22px;
  height: 20px;
  filter: invert(100%) sepia(3%) saturate(1247%) hue-rotate(175deg) brightness(91%) contrast(91%);
  margin: 0 8px;
}

.friends-container > p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.sidebar-delete-server-container {
  bottom: 12px;
  width: 224px;
  height: 60px;
  position: absolute;
  display: flex;
  align-items: center;
}

.sidebar-delete-server {
  color: #96989d;
  font-size: 12px;
  font-family: var(--font-display);
  font-weight: 600;
  width: 100%;
  transition: color .17s ease;
}

.sidebar-delete-server:hover {
  color: #fff
}

.sidebar-delete-server-container > img {
  width: 12px;
  height: 12px;
  filter: invert(62%) sepia(4%) saturate(342%) hue-rotate(185deg) brightness(98%) contrast(86%);
  margin-right: 3px;
}

.sidebar-delete-server-container > img:hover {
  filter: invert(97%) sepia(26%) saturate(46%) hue-rotate(294deg) brightness(119%) contrast(100%);
}