// Discord's Stylesheet Reset
a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  border: 1px solid black;
  background-color: #404eed;
  position: relative;
  min-height: 48px;
}

// Navigation Bar
.splash-header-nav {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  align-items: center;
  vertical-align: middle;
  z-index: 2;
}

.splash-header-nav * {
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  color: #FFFFFF;
}

.splash-header-nav-links * {
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 140%;
  font-weight: 600;
  font-family: var(--font-primary);
}

.splash-header-logo {
  font-family: var(--font-glitch);
  font-weight: 800;
  margin-left: 40px;
  font-size: 20px;
}

.splash-header-logo:hover {
  text-decoration: none;
}

.splash-header-login-button {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 13px;
  color: #23272a;
  background-color: #FFFFFF;
  white-space: nowrap;
  border-radius: 40px;
  margin-right: 40px;
  padding: 7px 16px;
  line-height: 24px;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.splash-header-login-button:hover {
  color: #7289da;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

// Imagine a Place...
.splash-header-content {
  display: block;
  color: white;
  max-width: 780px;
  height: 386px;
  margin: 0 auto 0 auto;
  padding: 120px 40px 120px 40px;
  z-index: 2;
}

.splash-header-content > h1 {
  font-family: var(--font-headline);
  font-size: 48px;
  font-weight: 900;
  line-height: 95%;
  margin-top: 100px;
  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  z-index: 3;
}

.splash-header-content > h3 {
  font-family: var(--font-primary);
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.625;
  z-index: 3;
}

.splash-header-content > img {
  position: absolute;
  bottom: 0;
  left: 50%;
  pointer-events: none;
  justify-content: baseline;
}

.splash-header-buttons {
  width: 652px;
  height: 80px;
  display: flex;
  vertical-align: baseline;
  margin: 0 auto 0 auto;
  justify-content: center;
}

.splash-header-buttons > * {
  border-radius: 28px;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 18px;
  padding: 16px 32px;
  margin-top: 24px;
  white-space: nowrap;
  transition-property: color, background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.splash-header-background {
  margin-left: -1280px;
}

.splash-header-background-left {
  height: auto;
  width: auto;
  margin-left: -1030px;
  z-index: 3;
}

.splash-header-background-right {
  height: auto;
  width: auto;
  margin-left: 370px;
  z-index: 3;
}

.splash-header-download-button {
  display: flex;
  align-items: center;
  margin-right: 12px;
  background-color: white;
  color: #23272a;
}

.splash-header-download-button:hover {
  color: #7289da;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.download-svg {
  margin-right: 8px;
}

.splash-header-open-button {
  margin-left: 12px;
  background-color: #23272a;
  color: white;
}

.splash-header-open-button:hover {
  background-color: #2c2f33;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

// Section
section {
  color: #23272a;
  background-color: white;
}

section > div:nth-child(-n+3) {
  width: 100%;
  height: 680px;
  justify-content: center;
}

section > div {
  padding: 120px 40px 120px 40px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  width: 100%;
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 20px;
  opacity: 1;
  transform: translateY(50px);
  transition: opacity .6s .1s, transform .6s ease;
  transition-property: opacity, transform;
}

section > div > img {
  grid-column: span 7;
  order: 1;
  object-fit: cover;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 678px;
  max-height: 440px;
}

section > div > div {
  margin-top: auto;
  margin-bottom: auto;
}

section > div:last-child {
  background-color: #f6f6f6;
}

section > div > div > h1 {
  display: block;
  font-size: 48px;
  font-family: var(--font-display);
  font-weight: 700;
  line-height: 120%;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section > div > div > h3 {
  display: block;
  font-family: var(--font-display);
  margin-top: 24px;
  font-size: 20px;
  line-height: 1.625;
}

.splash-content-grid-1 {
  background-color: white;
  max-width: 1260px;
}

.splash-content-grid-2 {
  max-width: 1260px;
}

.splash-content-grid-3 {
  max-width: 1260px;
}

.splash-content-grid-3 {
  max-width: 1260px;
}

.splash-content-1 {
  grid-column: 9/span 4;
  order: 2;
}

.splash-content-2 {
  grid-column: span 4;
  order: 1;
}

.splash-content-image-2 {
  grid-column: 6/span 7;
  order: 2;
}

.splash-content-3 {
  grid-column: 9/span 4;
  order: 2;
}

.splash-content-image-3 {
  order: 1;
}

.splash-content-4 {
  grid-column: 2/span 10;
  text-align: center;
}

.splash-content-image-4 {
  margin: 16px auto 0 auto;
  grid-column: span 12;
}

.splash-content-grid-5 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  height: 285px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.15;
  text-align: center;
}

.splash-content-ready-container {
  margin: 30px auto 120px auto;
  padding: 0 40px 0 40px;
  position: relative;
}

.splash-content-ready-sparkles {
  user-select: none;
  left: 0;
  position: absolute;
}

.splash-content-ready-container > h1 {
  margin-top: 30px;
  z-index: 1;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  font-family: var(--font-display);
  display: block;
}

.splash-ready-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #5865f2;
  margin: 40px auto 0 auto;
  width: 240px;
  border-radius: 28px;
  padding: 16px 32px;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.splash-ready-button:hover {
  background-color: #7289da;
  text-decoration: none;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.splash-ready-button > div {
  display: flex;
  align-items: center;
}

// Footer
footer {
  margin-top: 20px;
  background-color: #23272a;
  color: white;
}

.splash-footer-container {
  color: #5865f2;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.15;
}

.splash-footer-grid {
  display: grid;
  grid-template-columns: (12, 1fr);
  grid-auto-flow: column;
  gap: 0 20px;
  box-sizing: border-box;
}

.splash-footer-motto {
  font-size: 32px;
  line-height: 24px;
  padding-top: 8px;
  display: block;
  font-weight: 800;
  font-family: var(--font-primary);
  grid-column: span 2;
  margin-bottom: 10px;
}

.splash-footer-logo {
  font-family: var(--font-glitch);
  font-weight: 800;
  font-size: 20px;
}

.splash-footer-links {
  display: flex;
  flex-direction: row;
}