// Discord's Stylesheet Reset
a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

header {
  border: 1px solid black;
}

.splash-header-content {
  display: block;
}

.splash-header-content > h1 {
  font-family: var(--font-headline);
  font-size: 56px;
  font-weight: 800;
  line-height: 95%;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-stretch: expanded;
}

.splash-header-content > h3 {
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.625;
}

section {
  border: 1px solid black;
}

footer {
  border: 1px solid black;
}